<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fushuai.dao.AnchorDao">
    <!--    int insert(@Param("anchor") Anchor anchor);-->
    <insert id="insert" parameterType="anchor" useGeneratedKeys="true" keyProperty="id">
      insert into anchor (anchor_name,user_id,address,addressload)
      values (#{anchor.anchorName},#{anchor.uId},#{anchor.address},#{anchor.addressload});
    </insert>

<!--      void updateTitle(@Param("title") String title,@Param("icon") String icon,@Param("user_id") String uId);-->
   <update id="updateTitle" >
     update anchor set title=#{title} , icon=#{icon} where user_id=#{user_id}
   </update>

    <resultMap id="anchorlist" type="anchor">
        <id column="id" property="id"/>
        <result column="anchor_name" property="anchorName"/>
        <result column="roomcode" property="roomcode"/>
        <result column="address" property="address"/>
        <result column="user_id" property="uId"/>
        <result column="statement" property="statement"/>
        <result column="icon" property="icon"/>
        <result column="title" property="title"/>
    </resultMap>
    <!--    List<Anchor> select(String anchorname,int roomcode,String address,String title); anchor_name like concat('%',#{anchorname},'%')-->
    <select id="select" flushCache="true" resultMap="anchorlist">
        select * from anchor
        <where>
            <if test="anchorname != null and anchorname!=''">
                anchor_name like #{anchorname}
            </if>
            <if test="roomcode != null">
                AND roomcode like #{roomcode}
            </if>
            <if test="address != null">
                AND address like #{address}
            </if>
            <if test="title != null">
                AND title like #{title}
            </if>
        </where>

    </select>
</mapper>