<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="deleteByPrimayKeyEnabled" value="false" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="insertMethodEnabled" value="false" />
        <option name="insertSelectiveMethodEnabled" value="false" />
        <option name="javaMapperPackage" value="com.fuhsuai.dao" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.fuhsuai.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="Newsms" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokGetterSetterAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="mapperAnnotaion" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="Newsms">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fuhsuai.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.fuhsuai.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.fuhsuai.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.fuhsuai.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="selectByPrimaryKeyEnabled" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="news_db:news_category">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="NewsCategory" />
                  <option name="moduleName" value="Newsms" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="news_db:news_detail">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="NewsDetail" />
                  <option name="moduleName" value="Newsms" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
        <option name="updateByPrimaykeyEnabled" value="false" />
        <option name="useSwagger" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>