<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhsuai.dao.NewsDetailMapper">
    <resultMap id="BaseResultMap" type="com.fuhsuai.entity.NewsDetail">
        <!--@mbg.generated-->
        <!--@Table news_detail-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="categoryId" jdbcType="BIGINT" property="categoryid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="createDate" jdbcType="DATE" property="createdate"/>
        <result column="updateDate" jdbcType="DATE" property="updatedate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, categoryId, title, summary, author, createDate, updateDate
    </sql>
    <resultMap id="BaseResultMap1" type="com.fuhsuai.entity.NewsDetail" autoMapping="true">
        <id column="nd_id" jdbcType="BIGINT" property="id"/>
    </resultMap>
    <select id="findByAll" resultMap="BaseResultMap1">
        select nd.id as nd_id,
               categoryId,
               title,
               summary,
               author,
               createDate,
               updateDate,
               name
        from news_detail nd
                 inner join news_category nc on nd.categoryId = nc.id
        order by nd_id desc;
    </select>
    <select id="findByNameAndTitle" resultMap="BaseResultMap1">
        select nd.id as nd_id,
               categoryId,
               title,
               summary,
               author,
               createDate,
               updateDate,
               name
        from news_detail nd
                 inner join news_category nc on nd.categoryId = nc.id
        where categoryId = #{classId,jdbcType=VARCHAR} and title
                  like #{title,jdbcType=VARCHAR}
        order by nd_id desc
    </select>
    <select id="findCategoryid" resultMap="BaseResultMap1">
        select nd.id as nd_id,
               categoryId,
               title,
               summary,
               author,
               createDate,
               updateDate,
               name
        from news_detail nd
                 inner join news_category nc on nd.categoryId = nc.id
        where nd.id = #{categoryid,jdbcType=BIGINT};
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-03-31-->
    <update id="updateByCategoryid">
        update news_detail
        <set>
            <if test="updated.id != null">
                id = #{updated.id,jdbcType=BIGINT},
            </if>
            <if test="updated.categoryid != null">
                categoryId = #{updated.categoryid,jdbcType=BIGINT},
            </if>
            <if test="updated.title != null">
                title = #{updated.title,jdbcType=VARCHAR},
            </if>
            <if test="updated.summary != null">
                summary = #{updated.summary,jdbcType=VARCHAR},
            </if>
            <if test="updated.author != null">
                author = #{updated.author,jdbcType=VARCHAR},
            </if>
            <if test="updated.createdate != null">
                createDate = #{updated.createdate,jdbcType=DATE},
            </if>
            <if test="updated.updatedate != null">
                updateDate = now(),
            </if>
        </set>
        where id=#{updated.id,jdbcType=BIGINT}
    </update>

</mapper>