*{
    margin: 0px;
    padding: 0px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearList{
    list-style: none;
}
.main-footer-box
{
    margin-top:5px;
    text-align:center;
    line-height:25px;
    font-weight: 600;
}
